# Numpy

Numpy is a library which provides support for large, homogeneous, multi-dimensional arrays and matrices

In [1]:
# import numpy
import numpy as np

## Creating Arrays in Numpy

### Creating an array from a list

In [2]:
list1 = [10,20,30]
list1

[10, 20, 30]

In [3]:
arr1 = np.array(list1)
arr1

array([10, 20, 30])

In [4]:
type(arr1)

numpy.ndarray

### Using arrange to create an array

The difference between array and arrange is that array takes in a list and turns it into an array, whereas arange creates an array from a range of numbers.

In [7]:
arr2 = np.arange(10, 20, 1) # (Start, Stop, Step-Size)
arr2

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19])

## Multidimensional arrays

### Combining two list - Two-dimensional arrays

When we combine arrays together, we can add dimensions. Combining two arrays gives us a 2d array!

This creates a matric for us on which we can perform matrix operations.

In [8]:
# let's create a new list to join onto the first list
list2 = [40,50,60]

# Join the lists
list3 = [list1, list2]

# Create an array out of the joined lists
arr3 = np.array(list3)
arr3

array([[10, 20, 30],
       [40, 50, 60]])

In [9]:
# Let's find the shape of that array
# We have a 2d array with 2 elements in the first instance and 3 in the second
arr3.shape

(2, 3)

### Three-dimensional arrays

In [10]:
arr3dim = np.array([[[1,2,3],[3,4,5]],[[5,6,7],[7,8,9]]])
arr3dim

array([[[1, 2, 3],
        [3, 4, 5]],

       [[5, 6, 7],
        [7, 8, 9]]])

In [11]:
arr3dim.shape

(2, 2, 3)

## Using Arrays and Scalars

Numpy arrays (or ndarray) allow us to perform matrix operations.

In [12]:
# For example, we can use simple multiplication
arr3dim * 3

array([[[ 3,  6,  9],
        [ 9, 12, 15]],

       [[15, 18, 21],
        [21, 24, 27]]])

In [14]:
# How is this different that trying to do:
list1 * 3
# Lists and arrays are treated differently, see below:

[10, 20, 30, 10, 20, 30, 10, 20, 30]

In [15]:
# We can actually multiply an array with another array

# Create a new array with the same size as arr1
arr11 = np.array(list2)

# Multiply the arrays, what will happen?
arr1 * arr11

array([ 400, 1000, 1800])

### Can we multiply arrays of different shapes?

In [16]:
arr1 * arr2

ValueError: operands could not be broadcast together with shapes (3,) (10,)

The answer is NO!

### It is possible to multiply arrays of different dimensions, but they need the same element size!

In [17]:
arr1 * arr3dim

array([[[ 10,  40,  90],
        [ 30,  80, 150]],

       [[ 50, 120, 210],
        [ 70, 160, 270]]])

## Array examples

In [19]:
# One-Dimensional array
my_1d_arr = np.array([1,2,3,4,5,6,7,8,9,10,11,12])
my_1d_arr.shape

(12,)

In [24]:
# Two-Dimensional array
my_2d_arr = np.array([[5,10,15, 20],[25, 30, 35, 40], [45, 50, 55, 60]])
my_2d_arr.shape

(3, 4)

In [29]:
# Three-Dimensional array
my_3d_array = np.array([
    [
        [1.1, 1.2, 1.3, 1.4], 
        [2.1, 2.2, 2.3, 2.4],  
        [3.1, 3.2, 3.3, 3.4],  
        [4.1, 4.2, 4.3, 4.4],  
        [5.1, 5.2, 5.3, 5.4]   
    ],
    [
        [6.1, 6.2, 6.3, 6.4],  
        [7.1, 7.2, 7.3, 7.4],  
        [8.1, 8.2, 8.3, 8.4],  
        [9.1, 9.2, 9.3, 9.4],  
        [10.1, 10.2, 10.3, 10.4] 
    ]
])
my_3d_array.shape

(2, 5, 4)

### Accessing the values inside ndarrays

Let's take arr3 as our example, this was a 2d array

In [30]:
# How can we access the 60?
arr3

array([[10, 20, 30],
       [40, 50, 60]])

In [31]:
# We can use indexing
arr3[1][2]

# We can just use a comma!
arr3[1,2]

60

In [32]:
# How can I get the bottom "row" of this ndarray?
arr3[1]

array([40, 50, 60])

In [34]:
# How about if we just want the last COLUMN?
# : Means everything, so see below:
arr3[:,2]

array([30, 60])

## Statistical functions and arrays

There are a number of builtin statistical functions we can use with numpy

In [35]:
# Finding the sum of all values
arr3.sum()

210

In [36]:
# Finding the sum of all columns
arr3.sum(0)

array([50, 70, 90])

In [37]:
# Finding the sum of all rows
arr3.sum(1)

array([ 60, 150])

In [38]:
# Finding the mean
arr3.mean()

35.0

In [39]:
# Finding Standard Deviation
arr3.std()

17.07825127659933

In [40]:
# Finding variance
arr3.var()

291.6666666666667

In [43]:
# Finding min value
arr3.min()

10

In [42]:
# Finding max value
arr3.max()

60

## Iterating through ndarrays

Simpliest way is to use a simple loop

In [44]:
# For a 1d array
for x in arr1:
    print(x)

10
20
30

In [45]:
# How about an n-dimensional array? Use nested loops
for dim in arr3:
    for num in dim:
        print(num)

10
20
30
40
50
60

In [46]:
# There is another way! we can use nditer
# This can be used in simple scenarios, but also very complex ones
# It tends to be much cleaner for nested loops
for x in np.nditer(arr3):
    print(x)

10
20
30
40
50
60

### Saving and loading in numpy

In [47]:
# To save an array as a file
np.save("new", arr3)

In [48]:
# Load the file
np.load("new.npy")

array([[10, 20, 30],
       [40, 50, 60]])

In [49]:
# Saving as a txt
np.savetxt("new.txt", arr3, delimiter=",")

In [50]:
# Loading a txt
np.loadtxt("new.txt", delimiter=",")

array([[10., 20., 30.],
       [40., 50., 60.]])